# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Lock file 

.terraform.lock.hcl

crash.log
crash.*.log

README.md

*.tfvars
*.tfvars.json
*.terraform.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

.terraform.lock.hcl